<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Megerosites</h1>
    <p>
      <%= @order.inspect %>.<br/>
    </p>
  </body>
</html>