/*
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,
pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,
samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{
    margin:0;padding:0;border:0;outline:0;font-size:100%;background:transparent}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
:focus{outline:0}
ins{text-decoration:none}
del{text-decoration:line-through}
table{border-collapse:collapse;border-spacing:0}*/


body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

/*----------- saját rész ----------------*/

#container {
  width: 960px;
  min-height: 700px;
  margin: 0 auto;
  background-color: #FFF;
}

#head2 {
  position: relative;
  width: 100%;
  height: 160px;
  background-image: url("/images/header.jpg");  background-repeat: repeat-x;
}

#heading {
  position: absolute; top: 40px; left: 60px;
  width: 850px;
  height: 60px;
  font-size: 3.5em;
  font-weight: 900;
  color: #212629;
  text-transform: uppercase;
  text-shadow: 3px 3px 4px #821217;
}

#content {
  width: 840px;
  background-color: #212629;
  padding: 60px;
}

#content h3 {
  color: #ffeeba;
}

#content_inside {
  padding: 60px;
  background-color: #ffeeba;
}

.rounded-corners {
    -moz-border-radius: 15px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}

#nav {
  position: absolute; bottom: 0px; left: 60px;
}

#nav ul {
/*	border: 1px solid #cc0000;*/
	margin: 0px;
	padding: 3px;
/*	background: #212629;*/
}

#nav ul li{
/* ez szedi le aa lista pontjainak  elejérőla béna kis pöttyeket*/
	list-style-type: none;
/* ez rakja egymás mellé a lista elemeit, így lesz egy vízszintes menüd*/
	float: left;
}

#nav a {
/*ez adja a jobb és bal térközt  a menük szövegeinek két oldalán*/
	padding-right: 20px;
	padding-left: 20px;
/*ez adja a kis elválasztó vonalat, átlátszik alatta a háttér*/
	margin-left: 1px;
/*ettől válik érzékennyé az egész box a kurzorra*/
	display: block;
	line-height: 26px;
	font-size: 12px;
	text-decoration: none;
	color: darkgray;
	background: #78000a;
	border: 0px solid #00cc00;
        -moz-border-radius: 0px;
        border-top-left-radius:5px;
        border-top-right-radius:5px;
/*        border-bottom-right-radius:2em;
        border-bottom-left-radius:2em;
        -webkit-border-radius: 6px;
        -khtml-border-radius: 6px;
        border-radius: 6px;*/
        text-transform: capitalize
}

#nav .aktualis a {
	line-height: 27px;
	background: #212629;
        color: white;
}

#nav a:hover {
        color: darkgrey;
	background: #78000a;
}

#nav a:active   {
        background: #78000a;
}
