/*
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,
pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,
samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{
    margin:0;padding:0;border:0;outline:0;font-size:100%;background:transparent}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
:focus{outline:0}
ins{text-decoration:none}
del{text-decoration:line-through}
table{border-collapse:collapse;border-spacing:0}*/


body {
  background-color: #774;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  color: wheat;
}

a img {
  border: none;
}

a {
  color: wheat;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

/*---------------------------------------*/
/*----------- saját rész ----------------*/
/*---------------------------------------*/

h1 {
/*    color: wheat;*/
    font-size: 24px;
    letter-spacing: 1px;
    word-spacing: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
}
h1:first-letter {
    text-transform: uppercase;
}
a.help {
    background-image: url("/images/pencil.png");
    padding: 10px;
    text-decoration: none;
    opacity: 0.6;
}
a.help:hover{
    opacity: 1;
}
#container {
    width: 960px;
    min-height: 1000px;
    margin: 0 auto;
    background-color: #FFF;
}
#head2 {
    background-color: #FFF;
    position: relative;
    width: 100%;
    height: 160px;
    background-image: url("/images/header.jpg");  background-repeat: repeat-x;
}
#heading {
    position: absolute; top: 50px; left: 60px;
/*    width: 850px;*/
    height: 60px;
    font-size: 3em;
    font-weight: 900;
    color: #212629;
    text-transform: uppercase;
    text-shadow: 3px 3px 4px #821217;
}
#logo {
    position: absolute; top: 30px; right: 30px;
}
#content {
    width: 904px;
    min-height: 840px;
    background-color: #212629;
    padding: 28px;
}
h3 {
    color: #ffeeba;
}
.content_inside {
    margin-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: #ffeeba;
    -moz-border-radius: 15px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}
.nyitokep {
    position: relative;
    width: 904px;
    height: 304px;
    margin-bottom: 50px;
}
.big-button {
    position: absolute;
    left: 50%;
    bottom: 0%;
    width: 200px;
    height: 100px;
    margin-left: -100px;
    margin-bottom: -30px;
    background-color: #821217;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 5px 5px 5px black; /* Firefox */
    -webkit-box-shadow: 5px 5px 5px black; /* Safari and Chrome */
    box-shadow: 5px 5px 5px black;
}
.big-button:hover {
    background-color: #f23;
}
.big-button a{
    text-align: center;
    padding: 16px;
    word-spacing: .5em;
    display: block;
    font-size: 18px;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 900;
}
.big-button p {
    line-height: 0em;
    font-size: 0.7em;
}
.kicsi_betu{
    font-size: 80%;
}
.felszolitas {
    color: darkorange;
    letter-spacing: 0.03em;
    word-spacing: 0.2em;
}
.felszolitas h2{
    letter-spacing: 0.03em;
    word-spacing: 0.2em;
}
.tajekoztatas .content_inside{
    background-color: black;
    color: mediumaquamarine;
}
tajekoztatas h3{
    letter-spacing: 0.03em;
    word-spacing: 0.2em;
}
.tajekoztatas ul{
    line-height: 2.5em;
    -moz-column-count:3; /* Firefox */
    -webkit-column-count:3; /* Safari and Chrome */
    column-count:3;

    -moz-column-gap:140px; /* Firefox */
    -webkit-column-gap:140px; /* Safari and Chrome */
    column-gap:140px;

    -moz-column-rule: 4px outset; /* Firefox */
    -webkit-column-rule:4px outset ; /* Safari and Chrome */
    column-rule:4px outset ;
}
#nav {
    position: absolute; bottom: 0px; left: 60px;
}

#nav ul {
    margin: 0px;
    padding: 3px;
}
#nav ul li{
/* ez szedi le aa lista pontjainak  elejérőla béna kis pöttyeket*/
    list-style-type: none;
/* ez rakja egymás mellé a lista elemeit, így lesz egy vízszintes menüd*/
    float: left;
}
#nav a {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 1px;
    display: block;
    line-height: 26px;
    font-size: 12px;
    text-decoration: none;
    color: sandybrown;
    background: #78000a;
    border: 0px solid #00cc00;
    -moz-border-radius: 0px;
    border-top-left-radius:13px 26px;
    border-top-right-radius:13px 26px;
    -moz-border-radius-topleft: 13px 26px;
    -moz-border-radius-topright: 13px 26px;
    text-transform: capitalize;
}
#nav a:hover {
    color: white;
}
#nav .menu_home a {
    color: #78000a;
    background-image: url("/images/home_icon_small_SandyBrown.png");
    background-repeat: no-repeat;
    background-position: center center;
}
#nav .menu_home_actual a {
    line-height: 27px;
    background: #212629;
    color: #212629;
    background-image: url("/images/home_icon_small.png");
    background-repeat: no-repeat;
    background-position: center center;
}
#nav .menu_actual a {
    line-height: 27px;
    background: #212629;
    color: white;
}
#nav a:active   {
    background: #78000a;
}

/*---------------------------------------*/
/* ------------  F O R M  ---------------*/
/*---------------------------------------*/

/*.inputs {
    position: relative;
    border: #00cc00 dotted 1px;
}*/
fieldset, legend, #kerdojel {border: #443 solid 2px;}
fieldset{margin-bottom: 20px; padding: 20px 20px 10px 20px;
    background: #332;
    -moz-border-radius: 10px; -webkit-border-radius: 10px; -khtml-border-radius: 10px; border-radius: 4px;}
.fildset-2 {padding-bottom: 30px;
}
legend, #kerdojel {
    font-weight: bold;
    background: #221;
    -moz-border-radius: 2em; -webkit-border-radius: 2em; -khtml-border-radius: 2em; border-radius: 2em;
}
legend, #kerdojel, abbr {
    color: #fc3;
}
legend {
    margin-left: 20px; padding: 8px 20px;
    letter-spacing: 0.1em; word-spacing: 0.15em; text-transform: uppercase;
}
#kerdojel {
    float: right; position: relative; top: -56px;
    padding: 8px 10px;
}
#kerdojel span {
    display: none;
}
#kerdojel:hover {
    color: wheat; background: #110; cursor: pointer;
}
#kerdojel:hover span {
    display:block; position: absolute; left: -400px; top: 40px; width: 360px; padding: 10px 20px; z-index: 100;
    color: #221; background: #fc3; border: solid #221 1px;
}
label {
    float: left; clear: left ;margin-right: 20px; width: 200px;
    text-align: right; font-weight: bold;
}
abbr {
    font-weight: bold; border: transparent;
}
label.collection_radio {margin-left: 20px; margin-top: 0px; margin-bottom: 80px; width: auto; display: block;}
.input{
    margin-bottom: 10px;
}
input, select, textarea {
    border-color: transparent; border-width: 0;
    -moz-border-radius: 2px; -webkit-border-radius: 2px; -khtml-border-radius: 2px; border-radius: 2px;
}
input, select, textarea {background-color: wheat;}
input.numeric {width: 80px;}
textarea {width: 540px; height: 60px;}
input.boolean {margin: 0; width: 13px; vertical-align: middle;}
input[type = radio] {margin-right: 8px;}
input:focus, select:focus, textarea:focus {background-color: #fc3;}
.button{margin: 0 0 10px 220px; padding: 15px;
    font-weight: 900; font-size: 20px;background-color: #ffa912; color: black;
    -moz-border-radius: 10px; -webkit-border-radius: 10px; -khtml-border-radius: 10px; border-radius: 4px;}
.button:hover {cursor: pointer; background-color: #e6ff12;}
.hint {display: block; margin: 1px 0 0 225px;
    letter-spacing: 0.05em; font-style: italic; font-size: 0.9em;}
.simple_form .error {
/*    margin-left: 125px;*/
    margin: 3px 250px 20px 150px; padding: 2px; display: block;
    letter-spacing: 0.05em; text-align: center;
/*    font-size: 1.2em; */
    background-color: #191909; color: lightcoral;
}
fieldset p {position: absolute; margin: 22px 0 0 57px; width: 760px; line-height: 1.5em;}
fieldset p, .hint {color: #997;}
fieldset p a {color: #bb7; text-decoration: none; border-bottom: dashed 1px;}
fieldset p a:hover {color: wheat;}
.form-2-1 {margin-top: 22px;}
.form-2-2 {margin-top: 121px;}
.form-7-1 {margin-top: 22px;}
.form-7-2 {margin-top: 121px;}
.form-7-3 {margin-top: 220px;}
.form-8-1 {margin-top: 22px;}
.form-8-2 {margin-top: 121px;}

/*-------------- javascript-es cucc ----------------*/
/*#kerdojel1 {
    margin: 0; position: relative; width: 30px; height: 24px; top: -35px; left: 820px; text-align: center;
    background-color: #221; color: #fc6; border: #443 solid 2px; font-size: larger;
    -moz-border-radius: 2em; -webkit-border-radius: 2em; -khtml-border-radius: 2em; border-radius: 2em;
}
#valaszjel1 {
    z-index: 100; position: absolute; left: -480px; top: 30px; padding: 10px; width: 500px; height: 180px;
    background: #fc6; border: 2px solid transparent; color: #221; text-align: left;
    visibility: hidden; background: #fc6; border: 2px solid transparent; color: #221; text-align: left;
}
#valaszjel1 h1,h2,h3,h4,h5,h6 {
    color: dodgerblue;
}*/
