
/*html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}*/


body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  position: relative;
  width: 960px;
  margin: 0 auto;
  background-color: #FFF;
/*  padding: 20px 20px;*/
/*  border: solid 1px red;*/
}

#head2 {
  width: 100%;
  position: absolute; top: 0px; left: 0px;
  height: 160px;
  background-image: url("/images/head.jpg");  background-repeat: repeat-x;
}

#heading {
  width: 850px;
  height: 60px;
  position: absolute; top: 40px; left: 60px;
  color: #114411;
  vertical-align: middle;
  font-size: 3.5em;
  font-weight: 900;
  text-transform: uppercase;
  text-shadow: 3px 3px 4px #110000;
}

#nav {
  position: absolute; bottom: 10px; left: 60px;
  width: 840px;
  height: 20px;
/*  background-color: #114411;*/
}

#content {
  width: 840px;
  position: absolute; top: 165px;
  background-color: #bD6;
  padding: 60px;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}
