<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<fieldset>
  <%= content_tag(:legend, "1. Tekintse át az egyes típusokhoz tartozó árakat!" ) %>
  <div class ="kerdojel"> ? <%= content_tag(:span, "Útmutató a Névjegykártya ártáblázathoz" ) %></div>
  <span>Áfás árak:</span>
  <br /><br />
  <table>
    <thead>
      <tr>
        <th>Anyag és felület</th>
        <th>Nyomtatás</th>
        <th>100 db</th>
        <th>200 db</th>
        <th>300 db</th>
        <th>500 db</th>
        <th>1000 db</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>„A“ 300 g-os matt műnyomó papíron</th>
        <th>1+0 - egy oldalas fekete nyomással</th>
        <td>20</td>
        <td>18</td>
        <td>16</td>
        <td>14</td>
        <td>12</td>
      </tr>
      <tr>
        <th>„B“ 300 g-os fényes műnyomó papíron</th>
        <th>1+0 - egy oldalas fekete nyomással</th>
        <td>20</td>
        <td>18</td>
        <td>16</td>
        <td>14</td>
        <td>12</td>
      </tr>
      <tr>
        <th>„B“ 300 g-os fényes műnyomó papíron</th>
        <th>1+0 - egy oldalas fekete nyomással</th>
        <td>20</td>
        <td>18</td>
        <td>16</td>
        <td>14</td>
        <td>12</td>
      </tr>
      <tr>
        <th>„B“ 300 g-os fényes műnyomó papíron</th>
        <th>1+0 - egy oldalas fekete nyomással</th>
        <td>20</td>
        <td>18</td>
        <td>16</td>
        <td>14</td>
        <td>12</td>
      </tr>
      <tr>
        <th>„B“ 300 g-os fényes műnyomó papíron</th>
        <th>1+0 - egy oldalas fekete nyomással</th>
        <td>20</td>
        <td>18</td>
        <td>16</td>
        <td>14</td>
        <td>12</td>
      </tr>
      <tr>
        <th>„B“ 300 g-os fényes műnyomó papíron</th>
        <th>1+0 - egy oldalas fekete nyomással</th>
        <td>20</td>
        <td>18</td>
        <td>16</td>
        <td>14</td>
        <td>12</td>
      </tr>
      <tr>
        <th>„B“ 300 g-os fényes műnyomó papíron</th>
        <th>1+0 - egy oldalas fekete nyomással</th>
        <td>20</td>
        <td>18</td>
        <td>16</td>
        <td>14</td>
        <td>12</td>
      </tr>
      <tr>
        <th>„B“ 300 g-os fényes műnyomó papíron</th>
        <th>1+0 - egy oldalas fekete nyomással</th>
        <td>20</td>
        <td>18</td>
        <td>16</td>
        <td>14</td>
        <td>12</td>
      </tr>
    </tbody>
  </table>
</fieldset>
