<% title t("order.title_new_order") %>
<p>Az alábbi lépések közül az elsőben tájékozódhat a névjegykártyák árairól,
a továbbiakban pedig összeállíthatja megrendelését.
A kitöltésben segítséget kaphat a jobboldalon látható kérdőjelekkel
vagy átolvashatja az egybefüggő leírást a
<a href="/pages/order_description">Megrendelés Menete</a> menüpontban.</p>
<%= render 'form' %>