<% title t("home.title") %>
<p>Itt könnyedén rendelhet igényesen kivitelezett névjegykártyákat
  saját magának, vagy cége számára</p>
<div class="nyitokep">
  <%=  image_tag "nevjegykartya_online.png" %>
  <div class="big-button">
    <%#*<a>Árak  megrendelés</a>%>
    <a href="/orders">Árak <p class="kicsi_betu">és</p> megrendelés</a>
    <%#*<a href="#">Árak <p> és </p> megrendelés</a>%>
    <%#= link_to "Árak #{content_tag( :br)} megrendelés", :orders %>
  </div>
</div>

<div class ="felszolitas">
  <h2>Gondoljon az első benyomásra!</h2>
  <p>A névjegykártya átadásával személyesebbé teheti a partnerekkel
    folytatott megbeszéléseket valamint erősítheti az ön által képviselt
    cég terméke vagy szolgáltatása iránti bizalmat is.</p>
</div>
<div class="tajekoztatas">
  <div class="content_inside">
    <h2>Ilyen névjegykártyákra számíthat:</h2>
    <ul>
      <li>minőségi papíron</li>
      <li>kiváló nyomattal</li>
      <li>matt vagy fényes fóliával</li>
      <li>vastag fóliával laminálva</li>
      <li>sarokkerekítéssel</li>
      <li>kedvező árakon</li>
      <li>egyszerűen rendelhető</li>
      <li>gyors átfutással</li>
      <li>házhozszállítással</li>
    </ul>
  </div>
</div>