<% title t("order_description.title") %>
    <div class ="box">
      <div id="boxtitle">
        1. Típus és darabszám megadása
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        In tristique scelerisque purus, nec auctor diam consectetur et.
        Phasellus quis eros eget lectus ultrices pellentesque non vitae metus.
        Integer id metus dolor, vitae ultrices sem. Nam at sem a libero condimentum mattis.
        Phasellus sapien lorem, malesuada nec sagittis vitae, mollis eu ipsum.
        Quisque in ipsum vel odio venenatis interdum. Vestibulum sagittis lacinia mattis.
        Nunc molestie auctor ante at porttitor. Ut faucibus, enim et rhoncus molestie,
        mauris nibh imperdiet nunc, id luctus nulla quam ut elit.
        Cras sed tellus ac lacus elementum posuere vitae in sapien.
        Phasellus sapien lorem, malesuada nec sagittis vitae, mollis eu ipsum.
        Quisque in ipsum vel odio venenatis interdum. Vestibulum sagittis lacinia mattis.
        Nunc molestie auctor ante at porttitor. Ut faucibus, enim et rhoncus molestie,
        mauris nibh imperdiet nunc, id luctus nulla quam ut elit.
        Cras sed tellus ac lacus elementum posuere vitae in sapien.
        Sed posuere congue elit, in ultrices.
      </p>
    </div>
    <div class ="box">
      <div id="boxtitle">
        2. Grafika megadása
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        In tristique scelerisque purus, nec auctor diam consectetur et.
        Phasellus quis eros eget lectus ultrices pellentesque non vitae metus.
        Integer id metus dolor, vitae ultrices sem. Nam at sem a libero condimentum mattis.
        Phasellus sapien lorem, malesuada nec sagittis vitae, mollis eu ipsum.
        Quisque in ipsum vel odio venenatis interdum. Vestibulum sagittis lacinia mattis.
        Nunc molestie auctor ante at porttitor. Ut faucibus, enim et rhoncus molestie,
        mauris nibh imperdiet nunc, id luctus nulla quam ut elit.
        Cras sed tellus ac lacus elementum posuere vitae in sapien.
        Phasellus sapien lorem, malesuada nec sagittis vitae, mollis eu ipsum.
        Quisque in ipsum vel odio venenatis interdum. Vestibulum sagittis lacinia mattis.
        Nunc molestie auctor ante at porttitor. Ut faucibus, enim et rhoncus molestie,
        mauris nibh imperdiet nunc, id luctus nulla quam ut elit.
        Cras sed tellus ac lacus elementum posuere vitae in sapien.
        Sed posuere congue elit, in ultrices.
      </p>
    </div>
    <div class ="box">
      <div id="boxtitle">
        3. Fájl feltöltése
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        In tristique scelerisque purus, nec auctor diam consectetur et.
        Phasellus quis eros eget lectus ultrices pellentesque non vitae metus.
        Integer id metus dolor, vitae ultrices sem. Nam at sem a libero condimentum mattis.
        Phasellus sapien lorem, malesuada nec sagittis vitae, mollis eu ipsum.
        Quisque in ipsum vel odio venenatis interdum. Vestibulum sagittis lacinia mattis.
        Nunc molestie auctor ante at porttitor. Ut faucibus, enim et rhoncus molestie,
        mauris nibh imperdiet nunc, id luctus nulla quam ut elit.
        Cras sed tellus ac lacus elementum posuere vitae in sapien.
        Phasellus sapien lorem, malesuada nec sagittis vitae, mollis eu ipsum.
        Quisque in ipsum vel odio venenatis interdum. Vestibulum sagittis lacinia mattis.
        Nunc molestie auctor ante at porttitor. Ut faucibus, enim et rhoncus molestie,
        mauris nibh imperdiet nunc, id luctus nulla quam ut elit.
        Cras sed tellus ac lacus elementum posuere vitae in sapien.
        Sed posuere congue elit, in ultrices.
      </p>
    </div>
